* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-FD.woff');
}

body {
    direction: rtl;
    font-family: 'vazir';
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 15px;
}

.main-header {
    direction: rtl;
    display: flex;
    background-color: #FAEAFF;
}

.main-nav__title {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 5px 0px 15px;
    padding: 3px 12px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAEAFF;
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 13%;
    width: 100%;
    text-align: right;
    margin-top: -1rem;
    right: 10px;
}

.overlay-content a {
    width: 95%;
    padding: 8px;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #000;
}

.list_costs {
    font-size: 18px;
    text-align: center;
    border-radius: 0 0 25px 25px;
    background-color: #FAEAFF;
    text-align: center;
    padding: 20px 25px;
    margin-top: -1.5rem;
}

.list_detail {
    font-size: 20px;
    text-align: center;
    margin-top: 0rem;
    width: 100vw;
    border-radius: 0 0 25px 25px;
    background-color: #FAEAFF;
    text-align: center;
    padding: 20px 25px;
    margin-top: -1.5rem;
}

.plan__list {
    width: 95vw;
    margin: auto;
    padding: auto;
    display: block;
}

.plan {
    padding: 12px 30px;
    color: #424242;
    border-radius: 15px;
    margin-bottom: 1rem;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

.plan_detail {
    padding: 4px 30px;
    margin-top: 1.5rem;
    color: #424242;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.cost_title {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.cost_price {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.cost_price h1::after {
    content: "تومان";
    margin-right: 0.5rem;
}

.cost_btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
}

.cost_btn a {
    font-size: 15px;
    font-family: 'vazir';
    text-align: center;
    border-radius: 5px;
    padding: 8px 125px;
    background-color: #6236ff;
    color: #fff;
    border: 1px solid #6236ff;
    position: relative;
}

.cost_item {
    display: flex;
    justify-content: flex-start;
}

#cost_price::after {
    content: "تومان";
    margin-right: 0.5rem;
}

.container {
    position: relative;
    text-align: center;
}

.form-inline__actions {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 5px;
}

.btn {
    font-size: 13px;
    border: 2px solid #6236ff;
    border-radius: 5px;
    padding: 0.5rem 0rem;
    color: #6232ff;
}

.btn-primary {
    width: 40vw;
    text-align: center;
    background-color: #6236ff;
    color: #fff;
}

.btn-list {
    width: 40vw;
    text-align: center;
    margin-right: 3px;
}

@media (min-width: 40rem) {
    a {
        font-size: 18px;
    }

    .overlay-content a {
        width: 98%;
        padding: 10px;
        margin-top: 1rem;
        font-size: 17px;
    }

    .overlay .closebtn {
        font-size: 18px;
        color: #000;
    }

    .main-nav__title {
        display: flex;
        margin: 5px 0px 15px;
        padding: 3px 12px;
    }

    .list_costs {
        font-size:20px;
    }

    .plan__list {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .plan {
        padding: 40px 30px;
        display: inline-block;
        width: 30%;
        margin-right: 0.5rem;
    }

    .plan_detail {
        margin: auto;
        padding: auto;
        display: block;
        width: 40vw;
        margin-top: 3rem;
        padding: 30px 20px;
    }

    .cost_title {
        margin-top: 0rem;
        font-size: 18px;
    }
    
    .cost_price {
        font-size: 18px;
    }
    
    .cost_btn a {
        font-size: 18px;
        padding: 12px 7rem;
    }

    .container {
        text-align: center;
    }
    .form-inline__actions {
        margin: auto;
        padding: auto;
    }
    .btn {
        border: 2px solid #6236ff;
        border-radius: 5px;
        color: #6232ff;
    }
    .btn-primary {
        width: 18.5vw;
        color: #fff;
        font-size: 14px;
    }
    .btn-list {
        font-size: 14px;
        width: 18.5vw;
    }
}