* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-FD.woff');
}

body {
    direction: rtl;
    font-family: 'vazir';
    background-color: #fff;
    margin: 0;
    padding: 0;
}

button {
    font: inherit;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

form {
    width: 90vw;
    margin: auto;
    padding: auto;
    display: block;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 2rem;
}

input[type=text] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: #fff;
}

.main-header {
    direction: rtl;
    text-align: right;
    display: flex;
    background-color: #FAEAFF;
}

.main-nav__title {
    display: flex;
    margin: 5px 0px 15px;
    padding: 3px 12px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAEAFF;
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 13%;
    width: 100%;
    text-align: right;
    margin-top: -1rem;
    right: 10px;
}

.overlay-content a {
    width: 95%;
    padding: 8px;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 10px;
    margin-top: 5px;
    font-size: 15px;
    color: #000;
}

.title_costs {
    font-size: 13px;
    border-radius: 0 0 25px 25px;
    background-color: #FAEAFF;
    text-align: center;
    padding: 2px 25px;
    margin-top: -1.5rem;
}

label {
    font-size: 16px;
}

.form-control {
    margin-left: 4rem;
    font-size: 13px;
    margin-bottom: 1rem;
    font-family: 'vazir';
}

.title {
    margin-top: 1rem;
}

#description {
    height: 70px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 15px;
}

.container {
    position: relative;
    text-align: center;
}

.form-inline__actions {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    bottom: 5px;
}

.btn {
    border: 2px solid #6236ff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #6232ff;
}

.btn-primary {
    width: 40vw;
    text-align: center;
    background-color: #6236ff;
    color: #fff;
}

.btn-list {
    width: 40vw;
    justify-content: flex-end;
    text-align: center;
    margin-right: 0.25rem;
}

#costs {
    margin-bottom: 8rem;
}

@media (min-width: 27rem) {
    .btn {
        width: 35vw;
    }
    .form-inline__actions {
        display: flex;
        justify-content: center;
        padding: 0;
        position: fixed;
        bottom: 5px;
    }
}

@media (min-width:40rem) {
    form {
        width: 40vw;
        margin-top: 3rem;
    }
    input[type=text] {
        width: 100%;
        padding: 14px 17px;
    }
    label {
        font-size: 18px;
    }
    .container {
        text-align: center;
    }
    .form-inline__actions {
        margin: auto;
        padding: auto;
        display: flex;
        padding: 0;
        position: relative;
    }
    .btn {
        border: 2px solid #6236ff;
        border-radius: 5px;
        color: #6232ff;
    }
    .btn-primary {
        width: 10vw;
        color: #fff;
        font-size: 14px;
    }
    .btn-list {
        font-size: 14px;
        width: 10vw;
    }
    .title_costs {
        font-size: 15px;
    }
    .overlay-content a {
        width: 98.5%;
        padding: 10px;
        margin-top: 1rem;
        font-size: 17px;
    }
    .overlay .closebtn {
        font-size: 18px;
        color: #000;
    }
}