* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-FD.woff');
}

body {
    direction: rtl;
    font-family: 'vazir';
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 15px;
}

.main-header {
    direction: rtl;
    text-align: right;
    display: flex;
    background-color: #FAEAFF;
}

.main-nav__title {
    display: flex;
    margin: 5px 0px 15px;
    padding: 3px 12px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAEAFF;
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 13%;
    width: 100%;
    text-align: right;
    margin-top: -1rem;
    right: 10px;
}

.overlay-content a {
    width: 95%;
    padding: 8px;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #000;
}

.plan__list {
    width: 100%;
}

.plan {
    padding: 80px 80px;
    color: #424242;
    border-radius: 0 0 25px 25px;
    background-color: #FAEAFF;
}

.container {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.container h1::after {
    content: "تومان";
    margin-right: 0;
    font-size: 18px;
    margin-right: 0.5rem;
}

.price_index {
    font-size: 30px;
    margin-top: -0.5rem;
    justify-content: flex-end;
}

.sum_costs {
    text-align: center;
    font-size: 25px;
    color: #6236FF;
    margin-top: -1rem;
}

.record_costs {
    display: flex;
    justify-content: center;
}

.record_costs a {
    text-decoration: none;
    padding: 6px 100px;
    font-size: 15px;
    font-family: 'vazir';
    margin-top: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 5px;
    background-color: #6236ff;
    color: #fff;
    border: 1px solid #6236ff;
    position: fixed;
    bottom: 15px;
}

.cost_plan {
    width: 40vw;
    padding: 10px 0px;
    color: #424242;
    border-radius: 15px;
    margin-top: 2rem;
    background-color: #F49097;
}

.max_cost {
    background-color: #FEE440;
}

.plan-list {
    width: 90vw;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-around;
}

.price_cost {
    display: flex;
    justify-content: center;
}

#min_cost {
    display: flex;
    justify-content: center;
}

.price_cost::after {
    content: "تومان";
    margin-right: 0.25rem;
}

@media (min-width:40rem) {
    a {
        font-size: 18px;
    }
    .overlay-content a {
        width: 98%;
        padding: 10px;
        margin-top: 1rem;
        font-size: 17px;
    }

    .overlay .closebtn {
        font-size: 18px;
        color: #000;
    }

    .main-nav__title {
        display: flex;
        margin: 5px 0px 15px;
        padding: 3px 12px;
    }
    .record_costs a {
        width: 30vw;
        padding: 10px 0px;
        font-size: 17px;
    }
    .plan-list {
        width: 50vw;
    }
    .cost_plan {
        width: 20vw;
        padding: 30px 20px;
        font-size: 20px;
    }
    .max_cost {
        background-color: #FEE440;
    }
}